<div class='login_page'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-4'>
				<h2>Login</h2>
				<p id="notice"><%= notice %></p>
				<%= simple_form_for(:session, :url => sessions_path) do |f| %>
				<%= f.input :email %>
				<%= f.input :password %>
				<%= f.submit "Login", :class => "btn btn-md btn-primary" %>
				<% end %>
			</div>
		</div>
		<div class='row'>
			<p>Not a user yet?<%= link_to("Register", signup_path) %> here!</p>
		</div>
	</div>
</div>