<div class='container'>
	<div class='my_nav'>
		<p class='name'>Welcome <%= @user.first_name %></p>
		<p class='text-right'><%= link_to("Log off", signout_path) %></p>
		<p class='text-right'><%= link_to("Friends", friendship_path(@user.id))%></p>
	</div>
	<div class='row'>
		<div class='col-md-3 board text-center'>
			<h2><%= link_to("My Boards", boards_path) %></h2>
		</div>
		<div class='col-md-4 board text-center'>
			<h2><%= link_to("My Contributions", contribution_path(@user.id)) %></h2>
		</div>
		<div class='col-md-4 board text-center'>
			<h2><%= link_to("Create Board", new_board_path) %></h2>
		</div>
		
	</div>
</div>
<div class='container show'>
	<div class='row'>
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<h2>My Friends</h2>
			<table class='table table-striped'>
				<% @friends.each do |person| %>
					<tr>
						<td><%= person.first_name %> <%= person.last_name %></td>
						<td><%= link_to("Events", user_events_path(person.id))%></td>
						<td><%= link_to("Boards", user_boards_path(person.id))%></td>
						<td><%= simple_form_for @friendship, :url => friendship_path, :method => :delete do |f| %>
							<%= f.input :user_id, :as => :hidden, :input_html => {:value => @user.id} %>
							<%= f.input :friend_id, :as => :hidden, :input_html => {:value => person.id} %>
							<%= f.submit "Remove Friend", :class => "btn btn-sm btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class='col-md-5'></div>
		<div class='col-md-4'>
			<h2>Upcoming Events</h2>
			<p id="success"><%= flash[:success] %></p>
			<table class='table table-striped'>
				<thead>
					<th>Event</th>
					<th>Owner</th>
					<th>Deadline</th>
				</thead>
				<tbody>
					<tr>
						<td><%= link_to("Create Event", new_event_path) %></td>
						
					</tr>
					<% @my_events.each do |event| %>
						<tr>
							<td><a href="/events/<%= event.id %>"><%= event.event_name %></a></td>
							<td><%= event.user.first_name %></td>
							<td><%= event.deadline %></td>
							<td><% if event.user.id == @user.id %>
								<%= link_to "Cancel", event_path(event.id), method: :delete %>
								<% end %>
							</td>
						</tr>
					<% end %>
					<% @events.each do |event| %>
						<tr>
							<td><a href="/events/<%= event.id %>"><%= event.event_name %></a></td>
							<td><%= event.user.first_name %></td>
							<td><%= event.deadline %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class='col-md-3'>
			<h2>My Not Yet Friends</h2>
			<table class='table table-striped'>
				<% @not_friends.each do |user| %>
					<tr>
						<td><%= user.first_name %> <%= user.last_name %></td>
						<td><%= link_to("Events", user_events_path(user.id))%></td>
						<td><%= link_to("Boards", user_boards_path(user.id))%></td>
						<td><%= simple_form_for @friendship do |f| %>
							<%= f.input :user_id, :as => :hidden, :input_html => {:value => @user.id} %>
							<%= f.input :friend_id, :as => :hidden, :input_html => {:value => user.id} %>
							<%= f.submit "Add Friend", :class => "btn btn-sm btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<!-- <div class='row'> -->
		<!-- <div class='col-md-8'></div> -->
		
	<!-- </div> -->
</div>
	<div class='container'>
		<% if !@my_events.nil? %>
		<div class='col-md-3 item_board text-center'>
			<% @my_events.each do |event| %>
				<p><a href="/events/<%= event.id %>"><%= event.event_name %></a></p>
				
					
				
				<p><%= event.user.first_name %></p>
				<p><%= event.description %></p>
				<p><%= event.deadline %></p>
				<p><% if event.user.id == @user.id %>
					<%= link_to "Cancel My Event", event_path(event.id), method: :delete %>
					<% end %>
				</p>
			<% end %>
		</div>
		<% end %>
		<% if !@events.nil? %>
		<div class='col-md-3 item_board text-center'>
			<% @events.each do |event| %>
				
					<p><a href="/events/<%= event.id %>"><%= event.event_name %></a></p>
					<p><%= event.user.first_name %></p>
					<p><%= event.description %></p>
					<p><%= event.deadline %></p>
				
			<% end %>
		</div>
		<% end %>
		
	</div>