<div class='container show'>
	<div class='row'>
		<p id="success"><%= flash[:success] %></p>
		<nav class='navbar my_nav navbar-default'>
			<h2>Giver</h2>
		</nav>
		<p>Welcome <%= @user.first_name %></p>
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<h2><%= link_to("My Boards", boards_path) %></h2>
		</div>
		<div class='col-md-4'></div>
		<div class='col-md-4'>
			<h2>My Friends</h2>
			<table class='table table-striped'>
				<% @friends.each do |person| %>
					<tr>
						<td><%= person.first_name %> <%= person.last_name %></td>
						<td><%= link_to("Events", user_events_path)%></td>
						<td><button class='btn btn-sm btn-primary'>Boards</button></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<h2><%= link_to("Create Board", new_board_path) %></h2>
		</div>
		<div class='col-md-4'></div>
		<div class='col-md-4'>
			<h2>Upcoming Events</h2>
			<p id="success"><%= flash[:success] %></p>
			<table class='table table-striped'>
				<thead>
					<th>Event</th>
					<th>Deadline</th>
				</thead>
				<tbody>
					<tr>
						<td><%= link_to("Create Event", new_event_path) %></td>
						
					</tr>
					<% @events.each do |event| %>
						<tr>
							<td><a href="/events/<%= event.id %>"><%= event.event_name %></a></td>
							<td><%= event.deadline %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>