<div class='container'>
	<div class='col-md-4'>
		<p><%= link_to("Back to Dashboard", user_path(@user.id)) %></p>
		<h2>Create Event</h2>
		<p id="success"><%= flash[:notice] %></p>
		<%= simple_form_for @event do |f| %>
		<%= f.input :event_name %>
		<%= f.input :month, collection: months, prompt: "Month" %>
		<%= f.input :day, collection: 1..31, prompt: "Day" %>
		<%= f.input :year, collection: 2015..2020, prompt: "Year" %>
		<%= f.submit "Create Event" %>
		<% end %>
	</div>
</div>