<div class='container show'>
	<div class='row'>
		<p><%= link_to("Back to Dashboard", user_path(@user.id)) %></p>
		<h1 class='text-center'><%= @event.user.first_name %> <%= @event.user.last_name %></h1>
		<h2 class='text-center'><%= @event.event_name %></h2>
		<p class='text-center'>Deadline: <%= @event.deadline %></p>
		<p class='text-center'>Time remaining: <%= @date %> days</p>
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<h3>Discussion Board</h3>
			<table class='table table-striped'>
				<thead>
					<th>User</th>
					<th>Comment</th>
				</thead>
				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td><%= comment.user.first_name %> <%= comment.user.last_name %></td>
							<td><%= comment.content %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<h4>Add Comment</h4>
			<%= simple_form_for @comment do |f| %>
			<%= f.input :content %>
			<%= f.input :event_id, :as => :hidden, :input_html => {:value => @event.id} %>
			<%= f.submit "Create" %>
			<% end %>
		</div>
		<div class='col-md-7 event_board text-center'>
			<h3><%= @event.user.first_name%>'s Wishlist</h3>
			<% @event.items.each do |event| %>
				<p><%= @event.user.first_name %> is hoping for a <%= event.item_name %></p>
				<p><%= @event.user.first_name %> has received $<%= @event_contributions %>.00 so far</p>
				<p>It costs $<%= event.total_price %>.00</p>
				<p><%= link_to("Pitch In?", event_contribution_path(@event.id, event.id)) %>
				<p><%= image_tag event.photo.url(:medium) %></p>
			<% end %>
		</div>
		
	</div>
</div>