<div class='container'>
	<div class='row'>
		<p><%= link_to("Back to Dashboard", user_path(@user.id)) %></p>
		<p>Event: <%= @event.event_name %></p>
		<p>Owner: <%= @event.user.first_name %> <%= @event.user.last_name %></p>
		<p>Deadline: <%= @event.deadline %></p>
	</div>
	<div class='row'>
		<div class='col-md-5'>
			<h3>Discussion Board</h3>
			<table class='table table-striped'>
				<thead>
					<th>User</th>
					<th>Comment</th>
				</thead>
				<tbody>
					<% @comments.each do |comment| %>
						<tr>
							<td><%= comment.user.first_name %> <%= comment.user.last_name %></td>
							<td><%= comment.content %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class='col-md-1'></div>
		<div class='col-md-5'>
			<h3>Add Comment</h3>
			<%= simple_form_for @comment do |f| %>
			<%= f.input :content %>
			<%= f.input :event_id, :as => :hidden, :input_html => {:value => @event.id} %>
			<%= f.submit "Create" %>
			<% end %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-5'>
			<h3><%= @event.user.first_name%>'s Wishlist</h3>
			<p><%= link_to(@event.user.first_name + "'s boards", user_boards_path(@event.user.id))%></p>
			<table class='table table-striped'>
				<thead>
					<th>Item</th>
					<th>Price</th>
					<!-- <th>Total Contributions</th> -->
					<th>Contribute</th>
				</thead>
				<tbody>
					<% @event.items.each do |event| %>
						<tr>
							<td><%= event.item_name %></td>
							<td>$<%= event.total_price %>.00</td>
							<!-- <td>$5.00</td> -->
							<td><%= link_to("Pitch In", event_contribution_path(@event.id, event.id)) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class='col-md-1'></div>
		<div class='col-md-5'>
			<h3>Total Contributions</h3>
			<h2>$<%= @event_contributions %>.00</h2>
		</div>
	</div>
</div>