<div class='container'>
	<div class='col-md-4'>
		<%= link_to("Back to Event", event_path(@event)) %>
		<%= simple_form_for @contribution do |f| %>
		<%= f.input :amount %>
		<%= f.input :user_id, :as => :hidden, :input_html => {value: @user} %>
		<%= f.input :event_id, :as => :hidden, :input_html => {value: @event} %>
		<%= f.submit "Pitch in!" %>
		<% end %>
	</div>
</div>