<div class='container'>
	<div class='row'>
		<p><%= link_to("Back to dashboard", user_path(@user.id)) %></p>
		<h2><%= @user.first_name %>'s Contributions</h2>
		<table class='table table-striped'>
			<thead>
				<th>Your Contribution</th>
				<th>Friend</th>
				<th>Event</th>
			</thead>
			<tbody>
				<% @contributions.each do |contribution| %>
					<tr>
						<td>$<%= contribution.amount %>.00</td>
						<td><%= contribution.event.user.first_name %> <%= contribution.event.user.last_name %></td>
						<td><%= link_to(contribution.event.event_name, event_path(contribution.event.id)) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
	</div>
</div>