<div class='container'>
	<div class='row'>
		<p><%= link_to("Back to my boards", boards_path) %></p>
		<% @items.each do |item| %>
			<div class='col-md-3 item_board text-center'>
				<h5><%= item.item_name %></h5>
				<h5>$<%= item.total_price %>.00</h5>
				<p><%= image_tag item.photo.url(:medium) %></p>
			</div>		
		<% end %>
		
	</div>
	<div class='row'>
		<div class='col-md-4'>
			<h3>Add Item to Board</h3>
			<p><%= notice %></p>
			<%= simple_form_for @item, :html => { :multipart => true } do |f| %>
			<%= f.input :board_id, :as => :hidden, :input_html => {:value => @board.id} %>
			<%= f.input :item_name %>
			<%= f.input :total_price %>
			<%= f.file_field :photo %>
			<%= f.submit 'Add to board' %>
			<% end %>
		</div>
		<div class='col-md-4'></div>
		<div class='col-md-4'>
			<h3>Add Item to Event</h3>
			<p><%= notice %></p>
			<%= simple_form_for @event_item do |f| %>
				<%= f.input :board, :as => :hidden, :input_html => {:value => @board.id}%>
				<%= f.association :item, label_method: :item_name, value_method: :id, include_blank: false %>
				<%= f.association :event, label_method: :event_name, value_method: :id, include_blank: false %>
				<%= f.submit "Add Item" %>
			<% end %>
		</div>
	</div>
</div>